# Mac file
.DS_Store

xcuserdata/
xcshareddata

NetRatio.xcodeproj/xcuserdata
NetRatio.xcodeproj/xcshareddata

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

/.idea

